---
http_interactions:
- request:
    method: get
    uri: http://voodoosms.com/vapi/server/getDlrStatus?format=json&pass=password&reference_id=5159497&uid=username
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":"200 OK","reference_id":"5159497","delivery_status":null,"delivery_datetime":null}'
  recorded_at: Wed, 04 Mar 2015 14:47:06 GMT
recorded_with: VCR 2.9.3
