---
http_interactions:
- request:
    method: get
    uri: http://voodoosms.com/vapi/server/getSMS?format=json&from=2014-10-10%2000:00:00&keyword=TEMP&pass=password&to=2014-10-17%2000:00:00&uid=username
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Ms-Author-Via:
      - DAV
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":"200 OK","messages":[{"Message":"TEMP","TimeStamp":"2014-10-12
        15:32:34","Originator":"447000000002"},{"Message":"TEMP","TimeStamp":"2014-10-13
        10:00:05","Originator":"447000000003"}]}'
  recorded_at: Mon, 20 Oct 2014 12:41:36 GMT
recorded_with: VCR 2.9.3
