---
http_interactions:
- request:
    method: get
    uri: http://voodoosms.com/vapi/server/getDlrStatus?format=json&pass=password&reference_id=5143598&uid=username
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":"200 OK","reference_id":"5143598","delivery_status":"Delivered","delivery_datetime":"2015-03-03
        10:10:25"}'
  recorded_at: Tue, 03 Mar 2015 10:45:51 GMT
recorded_with: VCR 2.9.3
