---
http_interactions:
- request:
    method: get
    uri: https://voodoosms.com/vapi/server/getSMS?format=json&from=2014-10-17%2012:00:00&keyword=&pass=password&to=2014-10-10%2012:00:00&uid=username
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Ms-Author-Via:
      - DAV
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":"You dont have any messages","from":"2014-10-17 12:00:00","to":"2014-10-10
        12:00:00","keyword":""}'
  recorded_at: Mon, 20 Oct 2014 12:41:36 GMT
recorded_with: VCR 2.9.3
